version: 1.0.{build}
image: Visual Studio 2017
branches:
  only:
    - master
init:
  - cmd: git config --global core.autocrlf true
before_build:
  - cmd: dotnet --version
  - cmd: dotnet restore ./PoE-OBM/PoE-OBM.csproj --verbosity m
build_script:
  - cmd: dotnet publish ./PoE-OBM/PoE-OBM.csproj
artifacts:
  - path: '\PoE-OBM\bin\Debug\netcoreapp2.0\publish'
    name: PoE-OBM-WebApp
    type: WebDeployPackage
clone_depth: 1
test_script:
  - cmd: dotnet restore ./PoE-OBM.Tests/PoE-OBM.Tests.csproj --verbosity m
  - cmd: cd PoE-OBM.Tests
  - cmd: dotnet xunit --fx-version 2.0.0
on_finish:
  deploy: off