version: 1.0.{build}

branches:
  only:
    - master

image: Visual Studio 2017

configuration: Debug

install:
  - ls

build:
  project: C:\projects\poe-obm\PoE-OBM\PoE-OBM.csproj

before_build:
  - dotnet restore